@import url(https://fonts.googleapis.com/css?family=Roboto:100,100italic,300,300italic,regular,italic,500,500italic,700,700italic,900,900italic);

/*
Text Primary: #ffffff;
Text Secondary: #f39c12;
Background Primary: #171717;
Text Light Yellow: #FCC061;
*/

body,
html {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Roboto", sans-serif;
  background-color: #171717;
  color: #fff;
}

/* Global CSS */
.navigation-active {
  color: #f39c12 !important;
  border-bottom: 2px solid #f39c12;
}

.wrapper {
  max-width: 1640px;
  padding: 0 10px;
  margin: 0 auto;
}

/* End of Global CSS*/

/* Navigation */
#navigation {
  width: 100%;
  height: 100%;
}

.navigation-wrapper {
  width: 100%;
}

.navigation-list {
  display: flex;
  align-items: center;
  list-style-type: none;
  justify-content: space-evenly;
  margin: 2rem 0 0 0;
  padding: 0;
}

.navigation-item a {
  color: #fff;
  font-size: 1.8rem;
  text-decoration: none;
}

/* End of Navigation */

/* Hero */
#hero {
  width: 100%;
  height: 100vh;
  margin: 0;
  padding: 0;
  background-image: url("./images/hero-background.png");
  background-position-x: 75%;
  background-repeat: no-repeat;
  background-size: contain;
}

.hero-logo {
  max-width: 100%;
  height: auto;
}

.hero-wrapper {
  width: 100%;
  height: 100%;
  max-width: 700px;
  padding: 0 4rem;
}

.hero-container {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  flex-direction: row;
}

.hero-title {
  font-size: 3rem;
  letter-spacing: 3px;
  text-transform: capitalize;
}

.hero-desc {
  font-size: 1.2rem;
  font-weight: 300;
  inline-size: 450px;
}

.hero-content {
  margin-left: 2rem;
}

.hero-icon-container {
  display: grid;
  align-items: center;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  place-content: center;
  text-align: center;
}

.hero-icon-item {
  width: 100%;
  height: 100%;
  text-align: center;
}

.hero-icon-item img {
  width: 64px;
  height: 64px;
}

.hero-icon-title {
  color: #fcc061;
  font-size: 3rem;
}

.hero-icon-list {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.icon-list-primary {
  font-size: 1.4rem;
}
.icon-list-secondary {
  font-size: 1rem;
  padding: 0.3rem 0 0.7rem 0;
}

.icon-list-link a,
.icon-list-link {
  text-decoration: none;
  color: #ffffff;
  padding-top: 0.7rem;
}

@media only screen and (max-width: 850px) {
  #hero {
    background: none;
    height: 80vh;
  }

  .hero-container {
    flex-direction: column;
    text-align: center;
  }

  .hero-wrapper {
    padding: 0;
    max-width: 100%;
  }

  .hero-desc {
    inline-size: auto;
  }
}

/* End of Hero */

/* Meny */
#menu {
  display: grid;
  gap: 2rem;
  grid-template-columns: repeat(3, 1fr);
  grid-template-columns: repeat(3, minmax(240px, 1fr));
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  margin: 75px;
}

.menuOptions {
  color: white;
  padding-inline: 1rem;
  margin-block: -5px -5px;
  margin-inline: -5px -5px;
}

.title {
  font-size: 20px;
  font-weight: bold;
  padding-bottom: 0.5rem;
}

.description {
  margin-top: -15px;
}

.price {
  font-weight: bolder;
  font-size: 15px;
  align-items: flex-end;
}

.allergy {
  font-style: italic;
  font-size: 12.5px;
}
/* End of Meny */
/* Footer */
#footer {
  display: flex;
  justify-content: center;
  align-items: center;
}

.footerContainer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 50%;
  height: 350px;
  border-top: solid #f39c12 3px;
}

.footerContainer > h1 {
  color: #f39c12;
  font-size: 40px;
  margin-bottom: 10px;
}

.footerContainer > p {
  text-align: center;
  color: grey;
  width: 400px;
  margin-bottom: 0;
}

.footerContainer > .footerMenu {
  display: flex;
}

.footerContainer > .footerMenu > p {
  margin: 50px 30px;
}

.footerSocials {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 2rem;
}

.footerSocials img {
  width: 5%;
}

/* End of Footer */
